@import "bootstrap.css"; 


.carousel-inner img{
	width: 100%; 
}

.navbar-fixed{
    position: fixed;
    z-index: 1;
    width: 100%;    
}

.navbar-shadow{
	box-shadow: -2px 3px 20px 0px #00000052;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.main-logo{
		width: 2.2em;	
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.main-logo{
		width: 3em;	
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.main-logo{
		width: 4em;	
	}
} 



.box{
  position:relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  letter-spacing: 3px;
}

.img-title p{
	padding: 1em;
}

.distinct{
	margin-bottom: 2em;
}

.text-subtle{
	color: #dee2e6;
}

.text-justified{
	padding: 2em; 
	line-height: 2em;
}


.col-md-12 svg{
	margin: 0.5%;
}


.blank{
	min-height: 0;
}

.social-links{
	 margin-right: 10px;
}

.social-links li{
	 margin-right: 5px;
}


.social-links a{
	text-decoration: none;
	color: inherit;
}

.shadow-div{
    box-shadow: 0px 0px 20px 0px #00000059;
    padding: .5em;

}



.nav-links {
  display: block;
  padding: 0.5rem 1rem;
  color: initial;
}

.nav-links:hover, .nav-links:focus {
  text-decoration: none;
}

.nav-links.disabled {
  color: #6c757d;
}


.spacing{
	padding: 2em; 
}

.gallery{
	width: 100%;
	margin-top: 5em;
}

.gallery ul{
	list-style-type: none;
}

.gallery ul li {
	position: relative;
	bottom: 0;
	width: auto;
	margin-right: 1em;
	margin-bottom: 2em;
	display: inline-block;
	width: 23%;
	transition: bottom 0.2s;
	box-shadow: 0px 0px 8px 0px #00000038;
}

.gallery ul li:hover{
	position: relative;
	bottom: 20px;
}

.gallery ul li img{
	width: 100%;
	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.gallery ul li {
	position: relative;
	bottom: 0;
	width: auto;
	margin-right: 1em;
	margin-bottom: 2em;
	display: inline-block;
	width: 100%;
	transition: bottom 0.2s;
	box-shadow: 0px 0px 8px 0px #00000038;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.gallery ul li {
	position: relative;
	bottom: 0;
	width: auto;
	margin-right: 1em;
	margin-bottom: 2em;
	display: inline-block;
	width: 50%;
	transition: bottom 0.2s;
	box-shadow: 0px 0px 8px 0px #00000038;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.gallery ul li {
	position: relative;
	bottom: 0;
	width: auto;
	margin-right: 1em;
	margin-bottom: 2em;
	display: inline-block;
	width: 23%;
	transition: bottom 0.2s;
	box-shadow: 0px 0px 8px 0px #00000038;
}
} 
